<div class="container">
  <h1>Welcome To The Library! </h1>
  <p>Select Book:</p>


<form action="/bookview" method= "post">
  Book Name:<br>
  <input type="text" name="book[title]">
  <br>
  Author:<br>
  <input type="text" name="book[author]">
  <input type="submit" value="Submit For Books!">
</form>
